:root {
    --dark: #0F0F0F;
    --light: #ffffff; 
    --navlink-color: #000000; 
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    background-color: var(--dark)
}

h1 {
    font-size: 300%;
    color: var(--light);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #F6EB80;
  }
  
nav a {
    color: var(--navlink-color);
    padding: 14px 20px;
    text-decoration: none;
  }

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content:flex-start;
}

.content-header {
  font-size: 300%;
  border-right: var(--dark) solid;
  border-width: 4px;
  padding: 50px;
  margin: 50px;
}

.paragraph {
flex-grow: 1;
width: 400px;
}

.my-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 15px;
}

.my-work .content-header {
  height: 200px;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: 20px;
}

.projects img {
  flex-grow: 1;
  width: 400px;
  height: 200px;
}

.placeholder {
  align-items: flex-start;
  width: 385px;
  height: 200px;
}

.projects header {
  color: var(--light);
  position: absolute;
  top: 110px;
  width: 160px;
  height: 25px;
  padding: 20px;
  }

.image {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.projects:hover .image {
  opacity: 0.3;
}

#main-example {
  align-self: flex-start;
  margin: 20px;
}

#main-example img { 
  width: 835px;
  height: 400px;
  object-fit: cover;
}

#main-example header {
  color: var(--light);
  position: absolute;
  top: 260px;
  width: 160px;
  height: 25px;
  padding: 20px;
}

.contact-me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content:flex-start;
  width: 150px;
  margin: 25px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-width: 300px;
  justify-content: space-around;
  -ms-flex-align: start;
  align-content: center;
  align-items:flex-start;
  padding: 20px;
  list-style-type: none;
}

li {
  font-size: 125%;
  padding: 50px;
  color: var(--dark)
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: left;
  background-color: var(--dark);
  margin-top: auto;
}

@media screen and (max-width: 992px) {
  .projects {
    width: 50%;
  }
  .nav .ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    width: 100%;
  }
  .nav .ul {
    flex-direction: column;
  }
}

