:root {
    --dark: #0F0F0F;
    --light: #ffffff; 
    --navlink-color: #000000; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    background-color: var(--dark)
}

h1 {
    font-size: 300%;
    color: var(--light);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #F6EB80;
  }
  
  nav a {
    color: var(--navlink-color);
    padding: 14px 20px;
    text-decoration: none;
  }

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }
 
aside {
    flex: 1;
    background-color: var(--light);
    border-right: var(--dark) solid;
    border-width: 4px;
    padding: 20px;
    text-align: left;
  }

h2 {
  font-size: 200%;
}

.about.me p {
  flex: 4;
  background-color: var(--light);
  padding: 50px;
}

.my-work {
    flex: 4;
    background-color: var(--light);
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.examples{
    position: relative;
    border-style: hidden;
    border-width: 0px;
    padding: 0;
    flex: 1 0 300px;
    margin: 20px;
}

.examples img {
    width: 400px;
    height: 200px;
}

.examples header {
    color: var(--light);
    position: absolute;
    top: 120px;
    left: 0px;
    width: 160px;
    height: 25px;
    padding: 20px;
  }

.examples header:hover {
    background-color: var(--light);
    color: var(--dark)
  }

#main-example {
    flex: 6 0 600px;
    margin: 20px;
}

#main-example img {
    width: 96%;
    object-fit: cover;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: left;
    background-color: var(--dark);
    margin-top: auto;
  }

footer li {
    color: var(--light);
    text-decoration: none;
}

footer ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    min-width: 300px;
    align-items:flex-start;
    justify-content: space-around;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }


